<!-- include news -->
{% include "health/news.html" %}
{% load staticfiles %}

{% block article_list %}
<!-- article detail -->
{% for article in article_list %}
                <div class="float policy_advisory-item">
                    <div class="left">
                        <div class="policy_advisory-icon"><img src="{% static article.image %}" width="200" height="120" /></div>
                    </div>
                    <div class="left">
                    <a href="{% url 'media' article.id %}" target="_blank">
                        <div class="policy_advisory-info">
                            <div class="float policy_advisory-title">
                                <div class="left policy_advisory-name">
                                  <h3><strong>{{ article.title }}</strong></h3>
                              </div>
                             </div>
                            <div class="policy_advisory-desc">
                              <p>{{ article.desc }}</p>
                            </div>
                            <div class="policy_advisory-date">
                                <span>{{ article.pub_date }}</span>
                            </div>
                        </div></a>
                    </div>
                </div>
                {% endfor %}
{% endblock %}